body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.search {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
}

.submit-button {
  padding: 10px;
  background-color: #00A6EE;
}